<!DOCTYPE html>

<h4> Enter Your name: </h4>

<form action="/new_player" method="post">
  Username:
  <input type="text" name="username">
  <br/>
  <input type="submit" value="What's your name?" class="btn btn-primary">
</form>